<h1> <%= @user.email %> </h1>
<h3> Member since: <%= @user.created_at.strftime("%d %B %Y") %> </h3>
<h3> <%= @user.comments.count %> Comments contributed </h3>
<h3> Of these, you've rated <%= @user.comments.where(:rating => '5_star').count %> tours as 5-star.</h3>
