@import url(https://fonts.googleapis.com/css?family=Trade+Winds);

.navbar.navbar-inverse {
  background:url('assets/sandpaper.png');
  border-radius: 0;
  font-size: 24px;
  color: (157,157,157)
}

.navbar-inverse .navbar-brand {
// from google fonts (see line 1 above)
  font-family: 'Trade Winds', cursive;
  font-size: 32px;
  color: rgb(241, 104, 17);
// the 'easy' way to change the font
  // font-family: "Helvetica Neue", Helvetica, sans-serif;
  // font-weight: 600;
  // letter-spacing: -0.6px
}

.navbar-inverse .navbar-dropdown {
  color: rgb(241, 104, 17);
}

.btn-primary {
  background-color: rgb(241, 104, 17);
  border-color: rgb(241, 104, 17);
}

h3 {
  font-size: 28px;
  color: rgb(157, 157, 157);
}

.glyphicon {
  font-size: 18px;
}

body {
  background: url('/assets/winding-road.jpg')no-repeat center center fixed;
             -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
           background-size: cover;
      font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FEEEEE;
  border-radius: 3px;
  padding: 8px;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 3px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

/*This alters the spacing between headings*/
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

/*ripped from Marco's surfscore.me */
.transparent-box {
background-color: rgba(36, 32, 33, 0.7);
/*box-shadow: 2px 5px 2px 0 #d0d0d0;*/
/*box-shadow: rgba(36, 32, 33, 0.8) 2px -2px 2px 2px;*/
color: rgb(255, 255, 255);
border: 2px solid #ccc;
display: block;
float: left;

/* A long list of possible fonts from css-tricks

/*font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;*/
/*font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;*/
font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
/*font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;*/
/*font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucia Grande', sans-serif;*/
/*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;*/
/*font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/
font-size: 14px;
// height: 394px;  unnecessary height requirement
line-height: 20px;
margin-top: 10px;
margin-bottom: 15px;
min-height: 1px;
padding: 20px;
}
